.navButton {
  position: absolute;
  top: 90px;
  left: -16px;
  z-index: 10;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.navButton:disabled {
  display: none;
}