.section {
  padding: 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-white);
}

.toggleButton {
  border: none;
  background: none;
  color: var(--color-green);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}